@charset 'utf-8';

html {
    font-family:'Noto Sans KR', sans-serif;
    font-size:14px;
}
body {
    overflow-x:hidden;
    color:rgb(29, 29, 31);
    letter-spacing:-0.05em;
    background-color:#fff;
}
p {
    line-height:1.6;
}
a {
    color:rgb(29, 29, 31);
    text-decoration:none;
}

.global-nav {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:44px;
    padding: 0 1rem;
    z-index:10;
}
.local-nav {
    position:absolute;
    top:45px;
    left:0;
    width:100%;
    height:52px;
    padding: 0 1rem;
    border-bottom:1px solid #eee;
    z-index:11;
}
.local-nav-sticky .local-nav {
    position:fixed;
    top:0;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter:saturate(180%) blur(15px);
}
.global-nav-links,
.local-nav-links {
    display:flex;
    align-items:center;
    max-width:1000px;
    height:100%;
    margin:0 auto;
}
.global-nav-links {
    justify-content:space-between;
}
.local-nav-links .product-name {
    margin-right:auto;
    font-size:1.4rem;
    font-weight:bold;
}
.local-nav-links a {
    font-size:0.8rem;
}
.local-nav-links a:not(.product-name) {
    margin-left:2em;
}

.scroll-sect {
    position:relative;
    padding-top:50vh;
}

#scroll-sect1 h1 {
    position:relative;
    top:-10vh; /*창 높이의 10%라는 말*/
    font-size:4rem;
    text-align:center;
    z-index:5;
}
.main-message {
    display:flex;
    align-items:center;
    justify-content:center;
    top:35vh;
    margin:5px 0;
    height:3em;
    font-size:2.5rem;
    opacity:0;
}
.main-message p {
    font-weight:bold;
    text-align:center;
    line-height:1.2;
}
.main-message small {
    display:block;
    margin-bottom:0.5em;
    font-size:1.2rem;
}
#scroll-sect3  .main-message {
    font-size:3.5rem;
}
.description {
    max-width:1000px;
    margin:0 auto;
    padding:0 1rem;
    color:#888;
    font-size:1.2rem;
}
.description span {
    float:left;
    margin-right:0.2em;
    color:rgb(29, 29, 31);
    font-size:3rem;
    font-weight:bold;
}
.desc-message {
    width:50%;
    font-weight:bold;
    opacity:0;
}
.pin {
    width:1px;
    height:100px;
    background-color:rgb(29, 29, 31);
}
#scroll-sect3 .b {
    top:10%;
    left:40%;
}
#scroll-sect3 .c {
    top:15%;
    left:45%;
}
.mid-message {
    max-width:1000px;
    margin:0 auto;
    padding:0 1rem;
    font-size:2rem;
    color:#888;
}
.mid-message strong {
    color:rgb(29, 29, 31);
}
.canvas-caption {
    max-width:1000px;
    margin:-8em 0 auto;
    padding:0 1rem;
    color:#888;
    font-size:1.2rem;
}

.footer {
    display:flex;
    align-items:center;
    justify-content:center;
    height:7rem;
    background-color:orange;
    color:#fff;
}
.sticky-elem {
    display:none;
    position:fixed;
    left:0;
    width:100%;
}
body#show-scene0 #scroll-sect1 .sticky-elem, 
body#show-scene1 #scroll-sect2 .sticky-elem,
body#show-scene2 #scroll-sect3 .sticky-elem,
body#show-scene3 #scroll-sect4 .sticky-elem {
    display:block;
}

.sticky-elem-canvas {
    top:0;
    height:100%;
}
.sticky-elem-canvas canvas {
    position:absolute;
    /*js에서 scale이 조정되었기 때문에 top:0을 해도 맨 위로 안올라감*/
    top:50%;
    left:50%;
    /*transform:translate3d(-50%, -50%, 0); 을 css에서 처리하는게 아니라 main.js에서 처리*/
}
.image-blend-canvas.sticky {
    position:fixed;
    top:0;
}
#scroll-sect4 {
    display:flex;
    flex-direction:column;
    align-items:center;
}
@media (min-width:1024px) {
    #scroll-sect1 h1 {
        font-size:9vw;
    }
    .main-message {
        font-size:4vw;
    }
    .description {
        padding:0;
        font-size:2rem;
    }
    .description span {
        font-size:6rem;
    }
    #scroll-sect3 .main-message {
        font-size:6vw;
    }
    .main-message small {
        font-size:1.5vw;
    }
    .desc-message {
        width:20%;
    }
    #scroll-sect3 .b {
        top:20%;
        left:53%;
    }
    #scroll-sect3 .c {
        left:55%;
    }
    .mid-message {
        width:1000px;
        padding:0;
        font-size:4vw;
    }
    .canvas-caption {
        padding:0;
        font-size:2rem;
    }
}